/* Style your dropdown below! */

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    padding: 15px;
    margin: 0;
    border: 1px solid black;
}

.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    font-family: "Open Sans", helvetica, sans-serif;
}

#toggle {
    background-color: #FF6767;
    padding: 15px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

#dropDown {
    display: none;
}